* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
    url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:visited {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: #ffffff;
  margin-right: 15px;
}
.btn-full:hover,
.btn-full:active {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: #000000;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #ffffff;
}

btn-full:hover,
btn-full:active,
input[type="submit"] {
  border: 1px solid rgb(255, 255, 255);
}
btn-ghost:hover,
btn-ghost:active {
  border: 1px solid rgb(0, 0, 0);
  color: #000000;
}

.hero-text-box {
  color: #fff;
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
